h2 {
    margin-top: 40px;
    margin-bottom: 20px ;
}
.blue {
    transition: width 4s;
    background-color: blue;
    width: 300px;
    height: 300px;
    transition-timing-function: ease-in;
}
.blue:hover {
    width: 1280px;
    pointer-events: nonne;
}
.green {
    transition: width 4s;
    background-color: rgb(0, 255, 115);
    width: 300px;
    height: 300px;
    transition-timing-function: ease-in;
}
.green:hover {
    width: 1280px;
}