/* body {
    background-color: blue;
    font-size: larger;
}
@media only screen and (max-width:1400px) {
    body{ 
      background-color: red;
    }
    body::before {
        content: "1200px"
    }
  }
  @media only screen and (max-width:576px) {
    body{ 
      background-color: rgb(38, 1, 1);
    }
    body::before {
        content: "120230px"
    }
  } */