.Main_hover {
    display: flex;
    align-items: center;
    background-color: tomato;
    width: 200px;
    height: 100px;
    justify-content: center;
    transition: all 2s;
    margin: 10px 10px;
    border: 1px solid black;
    cursor: pointer;
    
}
.Ex_hover {
    transition: font-size .5s ease;
}
.Main_hover:hover {
    background: aqua;
    width: 300px;
    height: 150px;
}
.Ex_hover:hover {
    color: blue
}
.Ex_hover:hover {
    color: blue;
    font-size: 150%;
}